# PlatformIO build files
.pio/
.pioenvs/
.piolibdeps/

# VSCode settings
.vscode/
*.code-workspace

# Compiled binaries
*.bin
*.elf
*.map

# LittleFS image
*.bin
*.pio/build/*/littlefs.bin

# Mac / Windows junk
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Python virtual env (uneori apare)
venv/
